.friendList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 50px 0;
}
.item {
  display: flex;
  width: 250px;
  height: 70px;
  background-color: bisque;
  box-shadow: 2px 1px 2px 2px rgba(40, 16, 16, 0.2);
}
.item:not(:last-child) {
  margin-right: 20px;
}
